<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Walmart Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>19/07/30 11:24:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.LoginTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.walmart.tests.LoginTests@31ef45e3]">LoginTest</td> 
  <td>TestNG-tests-1@549620187</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/07/30 11:25:00</td>   <td>2892</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterTest()[pri:0, instance:com.automation.walmart.tests.LoginTests@31ef45e3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@549620187</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/07/30 11:24:39</td>   <td>-18018</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeSuite(java.lang.String, java.lang.String)[pri:0, instance:com.automation.walmart.tests.LoginTests@31ef45e3]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@549620187</td>   <td></td> </tr>
</table>
