<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="817b98">  <td>19/07/30 11:26:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.LoginTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.automation.walmart.tests.LoginTests@dfd3711]">LoginTest</td> 
  <td>main@1740035246</td>   <td></td> </tr>
<tr bgcolor="a497c4">  <td>19/07/30 11:26:32</td>   <td>5</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterTest()[pri:0, instance:com.automation.walmart.tests.LoginTests@dfd3711]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740035246</td>   <td></td> </tr>
</table>
